input[type=file]::file-selector-button {
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 10rem;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px solid #E85F37;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #E85F37;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

input[type=file]::file-selector-button:hover{
    background-color: #E85F37;
    color:#FFF;
    cursor: pointer;
}