<img class="nature-mountains" src="assets/nature-mountain-2.jpg" alt="nature-mountain.jpg">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <img src="assets/bear-logo.png" alt="bear-logo.png" class="bear-image mx-auto d-block text-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Forgot Password</h3>
                    <br>
                    <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
                        <div>
                            <label for="email">Enter the email address associated with your account and we'll send you a
                                link to reset your password.
                            </label>
                            <br>
                            <label for="email-input">Email</label>
                            <input type="email" class="form-control" formControlName="emailAddress" id="email"
                                aria-describedby="emailHelp" required>
                            <label id="email-valid" for="email-verification" *ngIf="userValidMessage">Email has been sent!</label>
                            <label id="email-not-valid" for="email-verification" *ngIf="userErrorMessage">Email Address not found!</label>
                        </div>
                        <div class="button-row pt-5 pb-5">
                            <button type="submit"
                                class="btn btn-lg btn-outline-primary col-md-5 registerButton">Send Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>