<img class="nature-mountains" src="assets/nature-mountain-2.jpg" alt="nature-mountain.jpg">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <img src="assets/bear-logo.png" alt="bear-logo.png" class="bear-image mx-auto d-block text-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Sign In</h3>
                    <form (ngSubmit)="login()" [formGroup]="signInForm">
                        <div>
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" formControlName="emailAddress" id="email"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                anyone
                                else.</small>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="password">
                            <a routerLink="/forgot-password" class="forgot-password">Forgot Password</a>
                        </div>
                        <div class="button-row pt-5 pb-5">
                            <button type="submit"
                                class="btn btn-lg btn-outline-primary col-md-5 float-right signInButton">Sign
                                In</button>
                            <button type="button" (click)="goToRegisterPage()"
                                class="btn btn-lg btn-outline-primary col-md-5 float-right registerButton">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toaster [message]="message"></app-toaster>