<!-- Navigation -->
<div class="main-nav">
    <div class="container">
        <header class="group top-nav">
            <nav class="navbar logo-w navbar-left">
                <a class="logo-grid" routerLink="">
                    <img src="assets/bear-logo.png">
                </a>
            </nav>
            <nav id="navbar-1" class="navbar item-nav navbar-right">
                <ul>
                    <li><a class="nav-links" routerLink="">Home</a></li>
                    <li><a class="nav-links" routerLink="create-blog">Create Blog</a></li>
                    <li><a class="nav-links" routerLink="login">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>

