a {
    color: #000;
    text-decoration: none;
    display: inline;
}

a:hover {
    text-decoration: none;
    color: #A4A4A4;
    cursor: pointer;
}

.nav-links {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px;
}

.logo-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.logo-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5em;
    font-weight: bold;
}

/* Navigation styles */
.main-nav {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    z-index: 10;
    position: relative;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navigation-toggle {
    display: none;
}

.item-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.item-nav li {
    margin-left: 20px;
}