<div class="container">
    <a href="#">
        <h1>{{singleBlog.blogTitle}}</h1>
    </a>
    <hr>
    <div class="in-content">
        <div>
            <div class="paragraph-image-grid">
                <div>
                    <p class="with-image" *ngIf="singleBlog.imageId">
                        {{ (singleBlog.blogText.length>350)? (singleBlog.blogText |
                        slice:0:350)+'...':(singleBlog.blogText) }}
                    </p>
                    <p [class.without-image]="!singleBlog.imageId" *ngIf="!singleBlog.imageId">
                        {{ (singleBlog.blogText.length>50)? (singleBlog.blogText |
                        slice:0:50)+'...':(singleBlog.blogText) }}
                    </p>
                </div>
                <div *ngIf="singleBlog.imageId">
                    <app-view-images [imageId]="singleBlog.imageId"></app-view-images>
                </div>
            </div>
        </div>
    </div>
</div>