.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px;
}

.intro {
    background-color: #f9f9f9;
    padding: 40px 0;
    background: url("src/assets/nature-night.jpg") center top #F7F7F7;
    height: 190px;
    margin-bottom: 40px;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Form Styles */
form {
    width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: "Comic Sans MS", cursive;
}

.tag-button-container{
    margin-bottom: 20px;
}

.button-tags {
    display: inline;
    font-family: "Open Sans", sans-serif;
    width: 6.2rem;
    padding: 10px 10px;
    background-color: #FFF;
    border: 1px solid #32a852;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #32a852;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 10px;
}

.button-tags:hover {
    background-color: #32a852;
    color: #FFF;
    cursor: pointer;
}

.submit-button {
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 6.2rem;
    padding: 10px 10px;
    background-color: #FFF;
    border: 1px solid #E85F37;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #E85F37;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.submit-button:hover {
    background-color: #E85F37;
    color: #FFF;
    cursor: pointer;
}