<div class="intro">
    <div class="container">
    </div>
</div>

<div class="container">
    <main>
        <form enctype="multipart/form-data">
            <label for="title">New Bear Blog Title Entry</label>
            <input type="text" name="title" id="title" required>
            <label for="image">Bear Image</label>
            <input type="file" name="image" id="image" accept="image/*" title="&nbsp;">
            <label for="content">Bear diaries</label>
            <textarea name="content" id="content" rows="10" required></textarea>
            <input type="submit" value="Submit">
        </form>
    </main>
</div>