<div class="intro">
    <div class="container">
    </div>
</div>

<div class="container">
    <div>
        <form (ngSubmit)="submitBlog()" [formGroup]="blogForm" enctype="multipart/form-data">
            <label for="title">New Bear Blog Title Entry</label>
            <input type="text" name="title" id="title" class="form-control" formControlName="blogTitle" required>
            <label for="image">Bear Image</label>
            <app-upload-images (fileSelected)="setSelectedFile($event)"></app-upload-images>
            <label for="content">Bear diaries</label>
            <textarea name="content" id="content" rows="10" class="form-control" formControlName="blogText" required></textarea>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>