.toaster {
    border: 1px solid;
    margin: 10px auto;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 300px;
    display: grid;
    grid-template-rows: auto;
    background-color: #FFF;
    border: 1px solid #32a852;
    position: fixed;
    top: 12px;
    right: 40%;
    border-radius: 5px;
    transition: background-color 2s ease-in;
}

.toaster-text {
    margin-left: 10px;
}

.title {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #32a852;
}

.message {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #32a852;
}

.verticalLine {
    border-left: 2px solid white;
    height: auto;
}