<footer>
    <div class="container">
      <div class="units-row">
        <div class="unit-50">
          <!-- <button class="btn btn-black"><i class="fa fa-arrow-left"></i> PREVIOUS</button> -->
        </div>
        <div class="unit-50">
          <ul class="social">
            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="footer">
    <div class="container">
      <div class="units-row">
        <div class="unit-100">
          <p class="footer-text">&copy; 2023 Bear Blog. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  